{{#foreach posts}}
  <div class="card-post">
    {{#author}}<img class="post-author-avatar"src="{{image}}">{{/author}}
    <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
    <p class="post-excerpt">{{excerpt words="36"}}...</p>
  </div>
{{/foreach}}
