<aside class="sidebar">
  <ul class="post-list">
    <li class="post-item">
      <h4>Hi, I'm Paul, the chocolate demolisher.</h4>
      <p>I'm a designer living in San Francisco, working to bring great, healthy food into everybody's hands via <a href="http://mypowersupply.com/yum/OJTR" target="_blank">Power Supply</a>.</p>
      <p>When I'm not sketching, talking with users, or coding, you'll find me <a href="https://www.facebook.com/groups/556183817744596/" target="_blank">teaching parkour</a>, <a href="https://foursquare.com/v/planet-granite/453bc1d5f964a520033c1fe3" target="_blank">bouldering</a>, <a href="http://cookchefclub.com/" target="_blank">cooking deliciousness</a>, or exploring the world.</p>
    </li>
  </ul>
  <p>Say hi over <a href="http://twitter.com/pvm" target="_blank">on Twitter</a>, or schedule a call over <a href="http://sohelpful.me/pvm" target="_blank">on SoHelpful</a>.</p>
  <div class="social"></div>
</aside>