{{!< default}}

<main id="content" class="content animated animated-mid fadeInUp" role="main">
  <section class="intro">
    <h1>We make thoughtful digital products.</h1>
    <p class="subheader">As designers, we're responsible for what we bring into the world. Those things should be thoughtful.</p>
    <p>We're hired to think through problems. We ask why. We iteratively discover the product. We talk to users. Strategy matters to us. Oh, and the beautiful interfaces? They’re by-products of doing good work.</p>
    <p>When we’re not building products, we’re teaching others to do the same, by <a href="http://designpaloalto.com">hosting community events</a> to inspire others, or mentoring the next generation of designers.</p>
  </section>

  <section class="team" name="about" id="about">
    <p class="subheader">Enchant is our interactive design studio.</p>
    <div class="group">
      <div class="card-profile brittany">
        <div class="profile-photo"></div>
        <div class="profile-overview">
          <a class="button button-material button-action button-twitter" href="http://twitter.com/brim" target="_blank"></a>
          <h3>Brittany Mederos</h3>
          <p>Brittany is a lead interaction designer at <a href="http://elementum.com" target="_blank">Elementum SCM</a>, building their flagship application: Transport. She specializes in user research, usability, &amp; interaction design.</p>
        </div>
      </div>
      <div class="card-profile paul">
        <div class="profile-photo"></div>
        <div class="profile-overview">
          <a class="button button-material button-action button-twitter" href="http://twitter.com/brim" target="_blank"></a>
          <h3>Paul Mederos</h3>
          <p>Paul leads product design at <a href="http://mypowersupply.com" target="_blank">Power Supply</a>. He specializes in behavior design (making and breaking habits), product management, interface design, &amp; prototyping.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="blog" name="blog" id="blog">
    <p class="subheader">Think of this as a cozy hearth, a space where we share our thoughts on design and business. See if any of our recent posts interest you:</p>
    {{> "home-loop"}}
  </section>
</main>

<script type="text/javascript">
  if (typeof analytics !== "undefined") {
    analytics.page("Home");
  }
</script>
